body {
	background-color: black;
	font-family: roboto;
}

.container {
	border: 5px solid #fff;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	text-align: center;
	padding: 10px;
}